.env
temp/*
*/logs/*

.venv/
venv/
env/


__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
.eggs/
dist/
build/
hub/*

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
.tox/